<!-- Social Links -->
<%- partial ("./_footer/social.ejs") %>

<div class="copyright">
  <span class="power-by">
    Powered by <a class="hexo-link" href="https://hexo.io/">Hexo</a> and <a class="theme-link" href="https://github.com/zeed-w-beez/hexo-theme-even">Even</a>
  </span>

  <span class="copyright-year">
    <span>
      <% var current = (new Date()).getFullYear(); %>
      &copy;
      <% if (theme.since && theme.since != current) { %>
      <%- theme.since -%> - <%- current -%>
      <% } else { %>
      <%- current -%>
      <% } %>
    </span>
    -
    <span class="author"><%- config.author %></span>
  </span>

</div>